@charset "UTF-8";

#index{
  width: 100%;
  height: 100vh;
}
.text{
  text-align: center;
  color: #336600;
  padding-top: 10vh;
  font-size: 5vh;
}

.link{
  text-align: center;
  color: #009900;
  font-size: 2rem;
}

#signup{
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
}

.s_container{
  align: center;
  width: 40vh;
}

.form{
  color: #336600;
  font-size: 22px;
}

.info{
  letter-spacing: 1px;
  margin-left: 30px;
}
input{
  text-align: center;
  font-style: italic;
  letter-spacing: 2px;
  width: 70%;
  margin-left: 30px;

}
.btn-primary{
  background-color: #336600;
  letter-spacing: 2px;
  width: 70%;
  text-align: center;
  margin-left: 30px;

}
.btn-primary:hover{
  transition: all ease 0.2s;
  background-color: white;
}
